*{padding:0px;
	margin:0px;
	 }
	 body{background-color:#eaeaea;}
.invisible
{display:none;}
.pjlist{font-size:15px;
color:black;
}
.pjvid{
	
	height:300px;
}
#navbar{
	position:fixed;
	width:100%;
}

#nav-content{display:flex;
flex-direction:row;
justify-content:space-around;
list-style-type:none;
background-color: #33363b;

padding-top:25px;
padding-bottom:25px;
}
.navElement{
	text-decoration:none;
	color:white;
         font-size:40px;
  margin-right:5px; 
  height:46px; 
  line-height:46px;
  padding: 0px 10px 0px 10px; 
  border-top: solid grey 2px;
  border-bottom: solid grey 2px;;

      
}
.enlarge{
font-size:40px;
transform: scale(1.5);
display:center;
}


.name{color:;
	
	font-size:40px;
	padding:150px 0px 100px 0px;
text-align:center;
}
#projects{
	background-color:;
	
	border-right:none;
	border-left:none;


}
#welcome-section{
	height:250px;
}


.examples{
	display:grid;
	grid-template-columns: 1fr 1fr;
grid-column-gap:50px;
grid-row-gap:50px;

	text-align:center;
}
.pj{font-size:50px;
text-align:center;
font-weight:;
padding-bottom:50px;
margin-top:20px;
}

.pjtitle{
	font-size:35px;
	padding-bottom:50px;
}
.p1{
	
	padding:40px 40px 40px 40px;
	margin-left:10px;
	margin-right:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	background-color:white;
	border: 1px solid grey;
	
	 border-radius: 25px;
}
.contact{background-color:;}
.github-widget{
	margin-left:40%;
	background-color:white;
	margin-bottom:10px;
}
#profile-link{
	margin-left:40%;
	background-color:white;
	margin-bottom:10px;
}

}


.pdbp{
text-align:left;

}
@media only screen and (max-width: 768px) {
.examples
{grid-template-columns:1fr;}}
